## Imported Libraries

In [47]:
# Linear Algebra
import numpy as np

# Data Processing
import pandas as pd

# Data Visualization
import matplotlib.pyplot as plt
%matplotlib inline

# For LSTM Architecture
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM

In [2]:
# Load the data
dataset = pd.read_csv('fyp.csv')

## Data Exploration/Analysis

In [3]:
dataset.head()

   id       date       open        low       high      close   volume
0   1  883905300  170.09000  170.09000  170.21001  170.21001  12985.0
1   2  883991700  162.64999  162.64999  170.23000  170.23000   4825.0
2   3  884078100  162.87000  162.87000  170.39000  170.39000   2170.0
3   4  884164500  165.47000  165.47000  170.32001  170.32001  13375.0
4   5  884250900  180.46001  170.69000  180.46001  170.69000   9420.0

In [4]:
dataset.tail()

,id,date,open,low,high,close,volume
4930,4931,1584440036,1316.40002,1266.43994,1321.50,1272.06995,1.465185e+09
4931,4932,1584526445,1272.07000,1233.97000,1287.38,1255.80000,1.184417e+09
4932,4933,1584612845,1255.80000,1222.56000,1279.32,1269.31000,1.903142e+09
4933,4934,1584872046,1269.31000,1246.20000,1275.42,1251.46000,1.946430e+08
4934,4935,1589278500,1250.85559,1226.16000,1251.40,1226.15900,9.957020e+07

In [5]:
dataset.shape

(4935, 7)

In [6]:
# Let's check missing data
dataset.describe()

,id,date,open,low,high,close,volume
count,4935.000000,4.935000e+03,4935.000000,4935.000000,4935.000000,4935.000000,4.935000e+03
mean,2468.000000,1.229119e+09,625.601454,621.878734,629.585177,625.739177,9.258507e+07
std,1424.756119,2.031911e+08,446.232494,443.862340,448.741565,446.160783,2.889004e+08
min,1.000000,8.839053e+08,146.929990,146.929990,156.429990,156.429990,5.000000e+00
25%,1234.500000,1.054070e+09,275.645005,274.625000,279.849990,277.834995,1.056800e+04
50%,2468.000000,1.220347e+09,433.929990,430.769990,435.489990,432.390010,2.280400e+04
75%,3701.500000,1.398374e+09,949.984985,947.725005,951.755005,949.325010,2.387848e+06
max,4935.000000,1.589278e+09,1881.449950,1866.280030,1888.359990,1881.449950,4.847437e+09

In [7]:
dataset.count(0)

id        4935
date      4935
open      4935
low       4935
high      4935
close     4935
volume    4935
dtype: int64

## Pre-processing Data

###### Since there no missing data(null) so data cleaning is not necessary

In [8]:
train_num = int(len(dataset)*0.8)
training_data = dataset.iloc[:train_num,5:6].values
testing_data = dataset.iloc[train_num:,5:6].values

In [51]:
# Normalization
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler(feature_range=(0,1))
scaled_training_data = min_max_scaler.fit_transform(training_data)
scaled_testing_data = min_max_scaler.fit_transform(testing_data)

In [10]:
print('Scaled Data: \n')
print(scaled_training_data)
print(type(scaled_training_data), scaled_training_data.shape)

Scaled Data:

[[0.01292709]
 [0.01294584]
 [0.01309594]
 ...
 [0.99053446]
 [0.99738266]
 [1.        ]]
<class 'numpy.ndarray'> (3948, 1)

In [41]:
def create_dataset(dataset, time_step=1):
    x_data, y_data = [], []
    for i in range(time_step, len(dataset)):
        x_data.append(dataset[i-time_step:i,0])
        y_data.append(dataset[i,0])
    return np.array(x_data), np.array(y_data)

In [52]:
time_step = 10
X_train, y_train = create_dataset(scaled_training_data, time_step)
X_test, y_test = create_dataset(scaled_testing_data, time_step)

###### Convert into 3D (samples, time step, features) which is required for LSTM architecture.

In [53]:
X_train = np.reshape(X_train, (X_train.shape[0],X_train.shape[1],1))
X_test = np.reshape(X_test, (X_test.shape[0],X_test.shape[1],1))

## Model Creation

In [54]:
# Stacked LSTM model architecture
model = Sequential()
model.add(LSTM(50, return_sequences=True, input_shape=(X_train.shape[1],1)))
model.add(LSTM(50, return_sequences=True))
model.add(LSTM(50))
model.add(Dense(1))

In [55]:
# Optimizer
model.compile(loss='mean_squared_error', optimizer='adam')

In [56]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_3 (LSTM)                (None, 10, 50)            10400
_________________________________________________________________
lstm_4 (LSTM)                (None, 10, 50)            20200
_________________________________________________________________
lstm_5 (LSTM)                (None, 50)                20200
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 51
=================================================================
Total params: 50,851
Trainable params: 50,851
Non-trainable params: 0
_________________________________________________________________

In [57]:
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, batch_size=64, verbose=1)

Epoch 1/100
62/62 [==============================] - 2s 35ms/step - loss: 0.0177 - val_loss: 0.0040
Epoch 2/100
62/62 [==============================] - 1s 16ms/step - loss: 4.2312e-04 - val_loss: 0.0039
Epoch 3/100
62/62 [==============================] - 1s 16ms/step - loss: 3.7443e-04 - val_loss: 0.0039
Epoch 4/100
62/62 [==============================] - 1s 16ms/step - loss: 3.8476e-04 - val_loss: 0.0039
Epoch 5/100
62/62 [==============================] - 1s 17ms/step - loss: 3.6732e-04 - val_loss: 0.0038
Epoch 6/100
62/62 [==============================] - 1s 17ms/step - loss: 3.6543e-04 - val_loss: 0.0038
Epoch 7/100
62/62 [==============================] - 1s 17ms/step - loss: 3.6897e-04 - val_loss: 0.0037
Epoch 8/100
62/62 [==============================] - 1s 16ms/step - loss: 3.5952e-04 - val_loss: 0.0037
Epoch 9/100
62/62 [==============================] - 1s 16ms/step - loss: 3.6029e-04 - val_loss: 0.0036
Epoch 10/100
62/62 [==============================] - 1s 17ms/step - loss: 3.6772e-04 - val_loss: 0.0036
Epoch 11/100
62/62 [==============================] - 1s 17ms/step - loss: 3.6450e-04 - val_loss: 0.0038
Epoch 12/100
62/62 [==============================] - 1s 19ms/step - loss: 3.8731e-04 - val_loss: 0.0035
Epoch 13/100
62/62 [==============================] - 1s 22ms/step - loss: 3.7060e-04 - val_loss: 0.0034
Epoch 14/100
62/62 [==============================] - 1s 24ms/step - loss: 3.3716e-04 - val_loss: 0.0034
Epoch 15/100
62/62 [==============================] - 1s 23ms/step - loss: 3.3766e-04 - val_loss: 0.0035
Epoch 16/100
62/62 [==============================] - 1s 21ms/step - loss: 3.4441e-04 - val_loss: 0.0032
Epoch 17/100
62/62 [==============================] - 1s 20ms/step - loss: 3.7745e-04 - val_loss: 0.0032
Epoch 18/100
62/62 [==============================] - 1s 19ms/step - loss: 3.1341e-04 - val_loss: 0.0031
Epoch 19/100
62/62 [==============================] - 1s 18ms/step - loss: 3.0763e-04 - val_loss: 0.0030
Epoch 20/100
62/62 [==============================] - 1s 18ms/step - loss: 3.0291e-04 - val_loss: 0.0028
Epoch 21/100
62/62 [==============================] - 1s 21ms/step - loss: 2.9815e-04 - val_loss: 0.0029
Epoch 22/100
62/62 [==============================] - 1s 20ms/step - loss: 3.2742e-04 - val_loss: 0.0027
Epoch 23/100
62/62 [==============================] - 1s 22ms/step - loss: 2.8906e-04 - val_loss: 0.0027
Epoch 24/100
62/62 [==============================] - 1s 22ms/step - loss: 2.8268e-04 - val_loss: 0.0028
Epoch 25/100
62/62 [==============================] - 1s 21ms/step - loss: 2.3880e-04 - val_loss: 0.0023
Epoch 26/100
62/62 [==============================] - 1s 18ms/step - loss: 2.7807e-04 - val_loss: 0.0024
Epoch 27/100
62/62 [==============================] - 1s 19ms/step - loss: 2.2004e-04 - val_loss: 0.0023
Epoch 28/100
62/62 [==============================] - 1s 18ms/step - loss: 2.6013e-04 - val_loss: 0.0021
Epoch 29/100
62/62 [==============================] - 1s 18ms/step - loss: 2.2733e-04 - val_loss: 0.0019
Epoch 30/100
62/62 [==============================] - 1s 19ms/step - loss: 2.0345e-04 - val_loss: 0.0018
Epoch 31/100
62/62 [==============================] - 1s 18ms/step - loss: 1.9656e-04 - val_loss: 0.0021
Epoch 32/100
62/62 [==============================] - 1s 17ms/step - loss: 1.9622e-04 - val_loss: 0.0017
Epoch 33/100
62/62 [==============================] - 1s 18ms/step - loss: 1.9275e-04 - val_loss: 0.0018
Epoch 34/100
62/62 [==============================] - 1s 17ms/step - loss: 1.7746e-04 - val_loss: 0.0017
Epoch 35/100
62/62 [==============================] - 1s 18ms/step - loss: 1.7711e-04 - val_loss: 0.0017
Epoch 36/100
62/62 [==============================] - 1s 17ms/step - loss: 1.6246e-04 - val_loss: 0.0017
Epoch 37/100
62/62 [==============================] - 1s 17ms/step - loss: 1.7902e-04 - val_loss: 0.0016
Epoch 38/100
62/62 [==============================] - 1s 17ms/step - loss: 1.5654e-04 - val_loss: 0.0016
Epoch 39/100
62/62 [==============================] - 1s 16ms/step - loss: 1.4602e-04 - val_loss: 0.0015
Epoch 40/100
62/62 [==============================] - 1s 17ms/step - loss: 1.5788e-04 - val_loss: 0.0014
Epoch 41/100
62/62 [==============================] - 1s 17ms/step - loss: 1.4831e-04 - val_loss: 0.0014
Epoch 42/100
62/62 [==============================] - 1s 17ms/step - loss: 1.6180e-04 - val_loss: 0.0016
Epoch 43/100
62/62 [==============================] - 1s 20ms/step - loss: 1.4697e-04 - val_loss: 0.0014
Epoch 44/100
62/62 [==============================] - 1s 18ms/step - loss: 1.3750e-04 - val_loss: 0.0013
Epoch 45/100
62/62 [==============================] - 1s 19ms/step - loss: 1.7398e-04 - val_loss: 0.0014
Epoch 46/100
62/62 [==============================] - 1s 18ms/step - loss: 1.4866e-04 - val_loss: 0.0013
Epoch 47/100
62/62 [==============================] - 1s 19ms/step - loss: 1.1938e-04 - val_loss: 0.0012
Epoch 48/100
62/62 [==============================] - 1s 18ms/step - loss: 1.2024e-04 - val_loss: 0.0012
Epoch 49/100
62/62 [==============================] - 1s 17ms/step - loss: 1.2462e-04 - val_loss: 0.0013
Epoch 50/100
62/62 [==============================] - 1s 18ms/step - loss: 1.2304e-04 - val_loss: 0.0012
Epoch 51/100
62/62 [==============================] - 1s 18ms/step - loss: 1.1282e-04 - val_loss: 0.0011
Epoch 52/100
62/62 [==============================] - 1s 19ms/step - loss: 1.4980e-04 - val_loss: 0.0012
Epoch 53/100
62/62 [==============================] - 1s 17ms/step - loss: 1.3634e-04 - val_loss: 0.0011
Epoch 54/100
62/62 [==============================] - 1s 17ms/step - loss: 1.1384e-04 - val_loss: 0.0011
Epoch 55/100
62/62 [==============================] - 1s 18ms/step - loss: 1.1254e-04 - val_loss: 0.0010
Epoch 56/100
62/62 [==============================] - 1s 17ms/step - loss: 1.0344e-04 - val_loss: 0.0011
Epoch 57/100
62/62 [==============================] - 1s 18ms/step - loss: 1.1537e-04 - val_loss: 9.8292e-04
Epoch 58/100
62/62 [==============================] - 1s 19ms/step - loss: 9.9628e-05 - val_loss: 9.7716e-04
Epoch 59/100
62/62 [==============================] - 1s 18ms/step - loss: 9.6401e-05 - val_loss: 9.4514e-04
Epoch 60/100
62/62 [==============================] - 1s 19ms/step - loss: 1.0269e-04 - val_loss: 9.0726e-04
Epoch 61/100
62/62 [==============================] - 1s 19ms/step - loss: 9.2804e-05 - val_loss: 8.7787e-04
Epoch 62/100
62/62 [==============================] - 1s 19ms/step - loss: 8.3320e-05 - val_loss: 8.6159e-04
Epoch 63/100
62/62 [==============================] - 1s 18ms/step - loss: 9.7526e-05 - val_loss: 8.8174e-04
Epoch 64/100
62/62 [==============================] - 1s 18ms/step - loss: 9.4153e-05 - val_loss: 8.6847e-04
Epoch 65/100
62/62 [==============================] - 1s 18ms/step - loss: 7.9593e-05 - val_loss: 8.0185e-04
Epoch 66/100
62/62 [==============================] - 1s 19ms/step - loss: 8.5687e-05 - val_loss: 7.8846e-04
Epoch 67/100
62/62 [==============================] - 1s 18ms/step - loss: 8.1692e-05 - val_loss: 7.6710e-04
Epoch 68/100
62/62 [==============================] - 1s 18ms/step - loss: 7.9764e-05 - val_loss: 7.3209e-04
Epoch 69/100
62/62 [==============================] - 1s 18ms/step - loss: 8.2915e-05 - val_loss: 7.2992e-04
Epoch 70/100
62/62 [==============================] - 1s 18ms/step - loss: 7.8348e-05 - val_loss: 6.9993e-04
Epoch 71/100
62/62 [==============================] - 1s 18ms/step - loss: 7.2514e-05 - val_loss: 8.0593e-04
Epoch 72/100
62/62 [==============================] - 1s 19ms/step - loss: 1.2725e-04 - val_loss: 6.9880e-04
Epoch 73/100
62/62 [==============================] - 1s 19ms/step - loss: 8.1067e-05 - val_loss: 6.7221e-04
Epoch 74/100
62/62 [==============================] - 1s 18ms/step - loss: 8.6637e-05 - val_loss: 6.6049e-04
Epoch 75/100
62/62 [==============================] - 1s 18ms/step - loss: 7.0153e-05 - val_loss: 7.5527e-04
Epoch 76/100
62/62 [==============================] - 1s 18ms/step - loss: 7.5226e-05 - val_loss: 6.3872e-04
Epoch 77/100
62/62 [==============================] - 1s 19ms/step - loss: 7.5798e-05 - val_loss: 6.6361e-04
Epoch 78/100

62/62 [==============================] - 1s 18ms/step - loss: 8.6880e-05 - val_loss: 6.2373e-04
Epoch 79/100
62/62 [==============================] - 1s 18ms/step - loss: 6.1952e-05 - val_loss: 6.0826e-04
Epoch 80/100
62/62 [==============================] - 1s 18ms/step - loss: 6.2488e-05 - val_loss: 6.2343e-04
Epoch 81/100
62/62 [==============================] - 1s 18ms/step - loss: 6.0002e-05 - val_loss: 6.0004e-04
Epoch 82/100
62/62 [==============================] - 1s 18ms/step - loss: 8.9744e-05 - val_loss: 5.9290e-04
Epoch 83/100
62/62 [==============================] - 1s 18ms/step - loss: 7.6826e-05 - val_loss: 5.9835e-04
Epoch 84/100
62/62 [==============================] - 1s 17ms/step - loss: 7.2411e-05 - val_loss: 5.9902e-04
Epoch 85/100
62/62 [==============================] - 1s 17ms/step - loss: 5.8448e-05 - val_loss: 5.7886e-04
Epoch 86/100
62/62 [==============================] - 1s 17ms/step - loss: 6.8728e-05 - val_loss: 6.0445e-04
Epoch 87/100
62/62 [==============================] - 1s 16ms/step - loss: 6.2051e-05 - val_loss: 5.8577e-04
Epoch 88/100
62/62 [==============================] - 1s 17ms/step - loss: 6.0597e-05 - val_loss: 5.9294e-04
Epoch 89/100
62/62 [==============================] - 1s 17ms/step - loss: 6.5732e-05 - val_loss: 5.6855e-04
Epoch 90/100
62/62 [==============================] - 1s 17ms/step - loss: 6.2053e-05 - val_loss: 6.1233e-04
Epoch 91/100
62/62 [==============================] - 1s 18ms/step - loss: 6.3390e-05 - val_loss: 5.7286e-04
Epoch 92/100
62/62 [==============================] - 1s 18ms/step - loss: 6.4248e-05 - val_loss: 5.8952e-04
Epoch 93/100
62/62 [==============================] - 1s 17ms/step - loss: 6.1710e-05 - val_loss: 5.6847e-04
Epoch 94/100
62/62 [==============================] - 1s 17ms/step - loss: 5.7241e-05 - val_loss: 5.5834e-04
Epoch 95/100
62/62 [==============================] - 1s 18ms/step - loss: 5.6418e-05 - val_loss: 5.6414e-04
Epoch 96/100
62/62 [==============================] - 1s 18ms/step - loss: 5.4420e-05 - val_loss: 5.8911e-04
Epoch 97/100
62/62 [==============================] - 1s 19ms/step - loss: 6.3208e-05 - val_loss: 5.5415e-04
Epoch 98/100
62/62 [==============================] - 1s 18ms/step - loss: 7.5168e-05 - val_loss: 5.5508e-04
Epoch 99/100
62/62 [==============================] - 1s 18ms/step - loss: 6.9172e-05 - val_loss: 5.6710e-04
Epoch 100/100
62/62 [==============================] - 1s 18ms/step - loss: 5.9054e-05 - val_loss: 5.5254e-04

In [58]:
train_predict = model.predict(X_train)
test_predict = model.predict(X_test)

In [59]:
train_predict = min_max_scaler.inverse_transform(train_predict)
test_predict = min_max_scaler.inverse_transform(test_predict)

In [60]:
# Calculate RMSE performance merices
import math
from sklearn.metrics import mean_squared_error
math.sqrt(mean_squared_error(y_train, train_predict))

1318.9560843542995

In [61]:
# Test Data RMSE
math.sqrt(mean_squared_error(y_test, test_predict))

1393.0167145100284

In [70]:
df = dataset.reset_index()['close']
scaled_df = min_max_scaler.fit_transform(np.array(df).reshape(-1,1))

In [80]:
# look_back = time_step
# trainPredictPlot = np.empty_like(scaled_df)
# trainPredictPlot[:, :] = np.nan
# trainPredictPlot[look_back:len(train_predict)+look_back, :] = train_predict
# # shift test predictions for plotting
# testPredictPlot = np.empty_like(scaled_df)
# testPredictPlot[:, :] = np.nan
# testPredictPlot[len(train_predict)+(look_back)+1:len(scaled_df)-1, :] = test_predict
# plot baseline and predictions
# plt.plot(min_max_scaler.inverse_transform(scaled_df))
# plt.plot(trainPredictPlot)
# plt.plot(testPredictPlot)
# plt.show()

ValueError: could not broadcast input array from shape (977,1) into shape (985,1)